@font-face {
  font-family: 'Cafe24Decobox';
  src: url('fonts/Cafe24Decobox.ttf') format('truetype');
}

@font-face {
  font-family: 'Cafe24Ssukssuk';
  src: url('fonts/Cafe24Ssukssuk.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cafe24Decobox', sans-serif;
  background-color: #E9E5DC;
  color: #333;
}

/* 네비게이션 */
nav {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
  position: relative;
  z-index: 2;
}

nav a {
  font-size: 28px;
  color: #FA8072;
  text-decoration: none;
  padding: 10px 0;
  transition: all 0.3s ease;
  border-radius: 0;
}

nav a:hover {
  background-color: rgba(255, 182, 193, 0.1);
  color: #FA8072;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* 메인 로고 */
main {
  background-color: #E9E5DC;
  text-align: center;
  padding: 40px 0 100px;
}

.main-logo {
  width: 400px;
  max-width: 90%;
  height: auto;
  display: inline-block;
}

/* 푸터 */
footer {
  background: #E0E0E0;
  color: black;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  line-height: 1.4;
}
